/* ---> HomePage Style <--- */
:root {
    --color-grey-light: rgba(128, 128, 128, 0.13);
    --color-grenishblue:#bae8e8;
    --color-grenishblue-dark:#49a5a5;
    --color-grenishblue-light: #e3f6f5;
}


/* Negative Margin */

/* level 1 */
.mt-n-1 {
    margin-top: -10px;
}

.mb-n-1 {
    margin-bottom: -10px;
}

.ml-n-1 {
    margin-left: -10px;
}

.mr-n-1 {
    margin-right: -10px;
}

/* level 2 */
.mt-n-2 {
    margin-top: -20px;
}

.mb-n-2 {
    margin-bottom: -20px;
}

.ml-n-2 {
    margin-left: -20px;
}

.mr-n-2 {
    margin-right: -20px;
}

/* Text wrap width 1-4  */
.text-wrap-width-4 {
    width: min(100%,100%)
}

.text-wrap-width-3 {
    width: min(63%,100%)
}

.text-wrap-width-2 {
    width: min(600px,100%)
}

.text-wrap-width-1 {
    width: min(400px,100%)
}

/* Custom Background Colors */
.bg-color-grey-light {
    background-color: var(--color-grey-light);
}

.bg-color-grenishblue {
    background-color: var(--color-grenishblue);
}

.bg-color-grenishblue-light {
    background-color: var(--color-grenishblue-light);
}

/* Custom Text Colors  */
.text-color-grenishblue {
    color: var(--color-grenishblue);
}

.text-color-grenishblue-dark {
    color: var(--color-grenishblue-dark);
}


.text-color-grenishblue-light {
    color: var(--color-grenishblue-light);
}

/* Sets full width */
.full-width {
    width: 100%;
}

/* Custom Text Heading Size */
.heading-1 {
    font-size: 80px;
}

.heading-2 {
    font-size: 64px;
}

.heading-4 {
    font-size: 32px
}

.heading-5 {
    font-size: 24px
}

.heading-6 {
    font-size: 18px
}

/* Custom Button Size */
.btn-sm {
    font-size: 1rem;
}

.btn-lg {
    font-size: 24px;
}

/* Custom Border Radius */
.border-rounded {
    border-radius: 50px;
}


/* Custom Styled Underline Curve */
.text-underlined-curve {
    color: var(--color-grenishblue-dark);
    position: relative;
}

.text-underlined-curve::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 7px;
    width: 100%;
    border: solid 6px var(--color-grenishblue-dark);
    border-color: var(--color-grenishblue-dark) transparent transparent transparent;
    border-radius: 70% 5%;
}

/* Logo Component Style */
.logo-wrapper {
    width: 100px;
    height: 100px;
}

.logo-wrapper > img {
    border-radius: 0% 50% 50% 50%;
}

/* Footer Component Style */
.footer-copyright-text {
    text-align: center;
    padding: 25px;
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.13);
}

/* Custom Table Design */
.table {
    text-align: right;
    border-collapse: collapse;
    width: 100%;
}

.table th:first-of-type,
.table td:first-of-type {
    text-align: left;
}

.table> thead th {
    background-color: var(--color-grenishblue-light);
    padding-bottom: 15px;
    border-bottom: 3px solid black;
}

.table > tbody tr {
    border-bottom: 1px solid #bae8e8;
    background-color: white;
}

.table > tbody td {
    padding: 40px 10px;
}
