/* ---> HomePage Style <--- */
.image-box {
    width: 100%;
    border-radius: 50px;
}

.image-box > img {
    border-radius: 50px;
}

/* Hero Section Style */
.hero-section-tag {
    font-weight: 600;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #500cb013;
    color: #5a19b6b9;
    margin-bottom: 2%;
}

.hero-main-text {
    font-size: 80px;
    width: min(600px, 100%);
    margin-bottom: 2%;
}

.hero-main-text > .underlined {
    color: #408cfc;
    position: relative;
}

.hero-main-text > .underlined:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 7px;
    width: 100%;
    border: solid 6px #408cfc;
    border-color: #408cfc transparent transparent transparent;
    border-radius: 70% 5%;
}

.hero-welcome-text {
    font-size: 20px;
    margin-bottom: 50px;
}

/* Page Quote Section Style */
.page-quote {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    width: min(63%);
}

.page-quote > span {
    color: #408cfc;
}

/* Feature Section Style */
.feature-bg {
    border-radius: 50px;
    padding: 50px;
    background-color: rgba(128, 128, 128, 0.13);
}


/* Logo Component Style */
.logo-wrapper {
    width: 50px;
    height: 50px;
}

.logo-wrapper > img {
    border-radius: 0% 50% 50% 50%;
}

/* Footer Component Style */
.footer-copyright-text {
    text-align: center;
    padding: 25px;
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.13);
}
